body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(24, 24, 24) none repeat scroll 0% 0%;
  color: rgb(239, 239, 239);
  font-size: 16px;
}

section#main {
  display: flex;
  flex-direction: column;
}

section#header {
  min-width: 300px;
  background-color: rgb(120, 120, 120);
  margin-bottom: 6px;
  padding: 4px 12px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px;
  justify-content: space-between;
}

section#content {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

section#sidebar {
  display: flex;
  flex-direction: column;
}

nav#maintoolbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

nav#sidetoolbar {
  display: flex;
  flex-direction: column;
}

nav.menu {
  display: none;
  flex-flow: column nowrap;
  min-width: 250px;
  background: rgb(120, 120, 120) none repeat scroll 0% 0%;
  padding: 8px;
  border-radius: 4px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

figure {
  padding: 0px;
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

figure img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-top: 8px;
}

@media ( min-width : 800px ) and ( orientation : landscape ) {
  section#content {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
  }
  figure img {
    display: block;
    max-width: 100%;
    max-height: calc(100vh - 40px);
    width: auto;
    height: auto;
  }
  figure {
    padding: 0px;
    margin: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}

.settings-label {
  height: 36px;
}

.nav-toggle {
  cursor: pointer;
  display: block;
}

.nav-toggle-cb {
  height: 12px;
  display: none;
  outline: 0px none;
  opacity: 0;
  width: 0px;
}

#nav-toggle-basic-cb:checked + #basic-menu, #nav-toggle-network-cb:checked + #network-menu, #nav-toggle-adv-cb:checked + #adv-menu {
  display: flex;
}

.input-group {
  display: flex;
  flex-wrap: nowrap;
  line-height: 22px;
  margin: 5px 0px;
}

.input-group > label {
  display: inline-block;
  padding-right: 10px;
  min-width: 38%;
}

.input-group > output {
  min-width: 25px;
  padding: 0px 5px;
}

.input-group input, .input-group select {
  flex-grow: 1;
}

.range-max, .range-min {
  display: inline-block;
  padding: 0px 5px;
}

button, .button {
  display: block;
  margin: 5px;
  padding: 8px 12px;
  border: 0px none;
  line-height: 16px;
  cursor: pointer;
  color: white;
  background: rgb(48, 52, 255) none repeat scroll 0% 0%;
  border-radius: 5px;
  font-size: 16px;
  outline: 0px none;
}
.button2 {
  border: none;
  color: white;
  padding: 19px 19px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 3px 3px;
  cursor: pointer;
  background-color: #3034FF;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button:hover {
  background: rgb(73, 77, 255) none repeat scroll 0% 0%;
}

button:active {
  background: rgb(28, 33, 242) none repeat scroll 0% 0%;
}

button.disabled {
  cursor: default;
  background: rgb(160, 160, 160) none repeat scroll 0% 0%;
}

input[type="range"] {
  appearance: none;
  width: 100%;
  height: 22px;
  background: rgb(120, 120, 120) none repeat scroll 0% 0%;
  cursor: pointer;
  margin: 0px;
}

input[type="range"]:focus {
  outline: 0px none;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: rgb(239, 239, 239) none repeat scroll 0% 0%;
  border-radius: 0px;
  border: 0px solid rgb(239, 239, 239);
}

input[type="range"]::-moz-range-thumb {
  border: 1px solid rgba(0, 0, 30, 0);
  height: 22px;
  width: 22px;
  border-radius: 50px;
  background: rgb(48, 52, 255) none repeat scroll 0% 0%;
  cursor: pointer;
}

input[type="text"], input[type="password"] {
  border: 1px solid rgb(120, 120, 120);
  font-size: 14px;
  height: 20px;
  width: 20px;
  margin: 1px;
  outline: 0px none;
  border-radius: 5px;
}

.inline-button {
  line-height: 20px;
  margin: 2px;
  padding: 1px 4px 2px;
}

.switch {
  display: block;
  position: relative;
  line-height: 22px;
  font-size: 16px;
  height: 22px;
}

.switch input {
  outline: 0px none;
  opacity: 0;
  width: 0px;
  height: 0px;
}

.slider {
  width: 50px;
  height: 22px;
  border-radius: 22px;
  cursor: pointer;
  background-color: grey;
}

.slider, .slider::before {
  display: inline-block;
transition: all 0.4s ease 0s;
}

.slider::before {
  position: relative;
  content: "";
  border-radius: 50%;
  height: 16px;
  width: 16px;
  left: 4px;
  top: 3px;
  background-color: white;
}

input:checked + .slider {
  background-color: rgb(48, 52, 255);
}

input:checked + .slider::before {
  transform: translateX(26px);
}

select {
  border: 1px solid rgb(120, 120, 120);
  font-size: 14px;
  height: 22px;
  outline: 0px none;
  border-radius: 5px;
}

.image-container {
  position: relative;
  min-width: 160px;
}

.hidden {
  display: none;
}

#BasicSettings_id {
  visibility: collapse;
}
